body {
  background-color: #323b52;
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
}

img {
  width: 100%;
  /* adjust image size based on the window size */
  object-fit: cover;
  object-position: bottom;
}
.preview {
  width: 95%;
}
.shenron {
  width: 28%;
  vertical-align:middle;
}
.ribbon {
  width: 12.5%; 
  margin-bottom: -0.8vw; 
  border: 3px solid #11a59a; 
  border-radius: 4%;
}

/* header styles */
.header-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-fill-color: #3bfcf9;
}
.header {
  position: relative;
  text-align: center;
}
h1 {
  font-size: 3.5vw;
  margin-top: 0.4vw;
  margin-bottom: 0.15vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #10f3ca;
}
h2 {
  font-size: 0.9vw;
  font-weight: normal;
  margin-top: 0.4vw;
  margin-bottom: 1.2vw;
}

/* zebra stripes for table */
tr:nth-child(even) {
  background-color: #2f7873;
}

tr:nth-child(odd) {
  background-color: #40958b;
}
th {
  background-color: #2d6069;
}

/* width adjustments for each column of the table*/
td:nth-child(1) {
	width: 12%;
}
td:nth-child(2) {
	width: 12%;
}
td:nth-child(3) {
	width: 18%;
}
td:nth-child(4) {
	width: 46%;
	text-align: left;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}
td:nth-child(5) {
	width: 12%;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}

/* general table styles */
table, th, td {
  border: 2px solid #2d6069;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 98%;
  overflow-x: auto;
}

/* basic tooltip (thanks w3schools) */
.tooltip {
  position: relative;
}
.tooltip .tooltip-content {
  visibility: hidden;
  width: 150%;
  background-color: #31347d;
  border-radius: 6px;
  padding: 15px 5px 15px 5px;
  
  /* tooltip positioning */
  position: absolute;
  z-index: 1; /* this assures no text goes over the image */
  top: 80%;
  left: 50%;
  margin-left: -75%;
}
.tooltip .tooltip-content::after { /* tooltip arrow */
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #31347d transparent;
}
.tooltip:hover .tooltip-content { /* make tooltip visible when hovering over table cells */
  visibility: visible;
}

/* styles that turn the download links into buttons */
.dl-button {
  /* font adjustments */
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 0.95vw;
  font-weight: bold;
  color: #cbcbcb;
  /* background and borders */
  background: linear-gradient(#1e3e55 0%, #2a5b7d 25%, #35719d 50%, #2a5b7d 75%, #1e3e55 100%);
  border-radius: 15px;
  border: 2px solid #fafafa;
  /* general settings */  
  width: 78%;
  padding: 5px 5px;
  display: inline-block;
}
.dl-button:hover {
  background: linear-gradient(#4f9eae 0%, #60b2c1 25%, #75c5d5 50%, #60b2c1 75%, #4f9eae 100%);
  color: #e4ca02;
}

/* hyperlink styles */
.other-links:link {
  color: #e4ca02;
  text-decoration: none;
  font-weight: bold;
}
.other-links:visited {
  color: #ff9d2d;
  text-decoration: none;
  font-weight: bold;
}

/* position adjustment for items on ordered list */
li {
  margin-left: -0.3vw;
}

/* searchbar style */
#searchbar { 
  /* rounded borders */
  border: 1px solid #323b52;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
  /* margin adjustments */
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  margin-left: 1vw;
  /* adjust searchbar size based on the window size */
  object-fit: cover;
  object-position: bottom;
  /* change font color, size and family */
  font-size: 1vw;
  font-family: Tahoma, Geneva, sans-serif;
  color: #e4ca02;
  /* set background to gradient, then adjust width */
  background: linear-gradient(#8b7aa1 0%, #9486a7 25%, #a397b3 50%, #c8bcd6 100%);
  width: 45%;
}

.filter {
  text-align: center;

}
/* disable outline around all input boxes */
input:focus {
  outline: none;
}
/* placeholder text style */
::placeholder {
  color: #5a5971;
  opacity: 1; /* Firefox always lowers opacity of placeholder text, so setting it to 1 will prevent that */
}