body {
  background-color: rgb(54, 57, 63);
  font-family: Tahoma;
}

.header-img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.header-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}

.header {
  position: relative;
  text-align: center;
  color: white;
}

.h1-txt {
  font-size: 3.5vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #10f3ca;
}

h2 {
  font-size: 1.2vw;
  font-weight: normal;
  -webkit-text-fill-color: #3bfcf9;
}